body {
  font-family: cursive;
  margin: 0;
}
/* Testing Font in percentage */
.p1 {
  background-color: rgb(240, 124, 240);
  width: 100%;
  font-size: 16px;
}
.c1 {
  background-color: yellow;
  width: 50%;
}

/* Testing Padding, boarder, Margin in percentage */
.p2 {
 /* box-sizing: border-box; */
  background-color: yellow;
  width: 400px;
  padding: 10px;
}
.c2 {
  background-color: rgb(240, 124, 240);
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  /* margin: 10%; */
  border: 10px solid rgb(0, 0, 0);
}

/* Testing Font in percentage */
.p3 {
  background-color: yellow;
}
.c3 {
  background-color: rgb(240, 124, 240);
  width: 50%;
  font-size: 100%;
}

/* Testing with vh and vw */
.p4 {
  width: 100px;
  /* box-sizing: border-box; */
  background-color: yellow;
  border: 1vh solid rgb(0, 0, 0);
  /* width: 50vw; */
  /* height: 50vh; */
  /* padding: 10%; */
  /* margin: 10vw; */
}
.c4 {
  /* background-color: rgb(240, 124, 240); */
  /* width: 50vw; */
  
}
